.loginbtn{
	border:none;
	outline: none;
	height: 50px;
	width: 80%;
	border-radius: 52px;
	background-color: #428df5;
	color: white;
	border-radius: 4px;
	font-weight: bold;

}
.loginbtn:hover{
	background-color: white;
	color: black;
	border:1px solid skyblue;


}
.heading1{
font-family:Oswald;
font-size:50px;
padding-left: 20px;}

#bor{
		margin-left: 100px;
		border-radius:20px;
		box-shadow: 0 5px 5px rgba(0,0,0,.4);
		margin: 5em auto;
		display: flex;
	
}