*{font-family:Roboto;}
#re #fare{background-color: aliceblue;}
#remain{
    
    border: 1px solid bisque;
}
#remain #resub #inside #up{background-color: whitesmoke; margin-left: 30px;border: 1px white solid; border-radius: 5px;}
#resub{
    
    padding-bottom: 10px;
    margin-bottom: 10px;

}
#rename{
    background-color:gainsboro;
}
#reboarding{
    margin-left: 50px;
    margin-right: 50px;
    background-color: gainsboro;
    color: steelblue;
    padding-left: 100px;
    margin:0px 50px 10px 50px ;/*top right bottom left*/
    border-radius: 5px;
    
    
}
#pass{ background-color: honeydew;margin:20px 0px 10px 0px;;padding:0px 0px 0px 20px;}
#name{padding:0px 0px 0px 20px;margin-top: 10px;}
#last{margin-top: 20px; border:2px whitesmoke solid; }
#pass1{margin:20px 0px 10px 0px;padding:0px 0px 0px 20px;}
#last1{margin-top:20px ; border:2px whitesmoke solid; }