 *{font-family:Roboto;}
 
 #con1 {
     background-color:skyblue;
     border:1px soid antiquewhite;
     border-radius: 5px;
     margin-bottom:20px;
     /**/
     
     
     
 }


 #ro2 {
     background-color:bisque;
     
 }

 #app #ap {
     /*border: 2px solid coral;*/
     padding: 0px 10px 10px 10px;
     margin: 10px 10px 10px 60px;
     border-radius: 6px;
     background-color: snow;
     
 }

 .row {
     padding-top: 10px;
     padding-bottom: 10px;
 }

 #res #re {
     
     color:dodgerblue;
     background-color:gainsboro;
     
 }

 #con1 #source {
     background-color: whitesmoke;
 }
 #ap h4{
     padding: 20px 0px 0px 25px;
 }
 #btn{ margin: 15px 0px 10px 0px; }
 #ap #a{padding: 0px 0px 1px 30px;}