

body {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    /*background-color:#74cef2;*/

    
}



.table td, .table th{
   height:  20px;
}
#blur{
    background: #f8f9fa;
}
.labels{
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 12px;

}
#value{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    color: #1c1e21;
}

